<div class="border border-danger-subtle p-2 rounded-2 mb-3">
    <p class="text-danger fw-bold">Endpoint 1</p>
    <div class="form-floating mb-3 full-div">
        <input type="text" class="form-control" id="floatingInput" placeholder="example path">
        <label for="floatingInput">Endpoint Path</label>
    </div>

    <div class="form-floating mb-3 full-div">
        <input type="text" class="form-control" id="floatingInput" placeholder="example description">
        <label for="floatingInput">Endpoint Description</label>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3 full-div">
                <textarea type="text" class="form-control" id="floatingInput" placeholder="example request"
                    style="height: 100px"></textarea>
                <label for="floatingInput">Example Request</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating full-div">
                <textarea type="text" class="form-control" id="floatingInput" placeholder="example response"
                    style="height: 100px"></textarea>
                <label for="floatingInput">Example Response</label>
            </div>
        </div>
    </div>
</div>