<div class="grid-container">
    <div class="upper-grid d-flex align-items-center justify-content-center">
        <p class="fs-1 fw-bold bg-danger text-light p-2 rounded-4">
            SERVICES README GENERATOR
        </p>
    </div>
    <div class="lower-grid d-flex align-items-center justify-content-center">
        <a routerLink="/readme" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="btn btn-lg btn-danger rounded-4" (click)="routeReadMeForm()">
            Generate ReadMe</a>
    </div>
</div>